/* App.css */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top {
  display: flex;
  min-height: 40%;
}

.video-container {
  width: 40%;

  border: 10px solid rgb(214, 214, 214);
  border-radius: 20px;
}
.video-container video {
  width: 100%;
}
.info-container {
  width: 20%;
  padding: 20px;
  text-align: center;
}

.bottom {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.button-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

button, select {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
