/* App.css */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.top {
  display: flex;
  min-height: 400px;
}

.video-container {
  /* width: 45%; */
  min-width: 400px;
  margin:0 auto;
  border: 10px solid rgb(214, 214, 214);
  border-radius: 20px;
}
.video-container video {
  height: 100%;
  width: 100%;
}
.info-container {
  /* top: 50%; */
  width: 20%;
  padding: 20px;
  text-align: center;
  min-width: 400px;
  margin: 0 auto;
}
/* 底部按钮样式 */
.bottom{
  min-width: 400px;
  width: 20%;
  margin: 0 auto;
}
.button-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

button, select {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
}

